@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:focus {
    outline: none;
    box-shadow: none;
  }

  textarea:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    padding: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@layer components {
  .circle {
    width: 180px;
    height: 180px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-90deg);
  }

  .timer {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4374f3;
    font-size: 36px;
    font-weight: 700;
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none; /* IE and 엣지 */
    scrollbar-width: none; /* 파이어폭스 */
  }

  .voice {
    display: block;
    position: absolute;
    background-image: url('/voice.gif');
    background-size: cover;
    width: 100px;
    height: 100px;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@layer utilities {
}

@keyframes circletimer {
  0% {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}

.fadeOutBox {
  animation: fadein 2s;
  animation-delay: 1s;
  -moz-animation: fadein 2s; /* Firefox */
  -moz-animation-delay: 1s;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-animation-delay: 1s;
  -o-animation: fadein 2s; /* Opera */
  -o-animation-delay: 1s;
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.origin-h {
  height: calc(100vh - 60px);
}

.mainBg:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('/background.gif');
  background-size: cover;
  width: 100%;
  height: 870px;
  opacity: 0.5;
  z-index: -1;
}

.centerss {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apx-legend-position-right {
  top: 8px !important;
  right: 40px !important;
}

.apexcharts-legend-text {
  font-size: 10px !important;
}

.pagination {
  li {
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #252a32;
  }
  .selected {
    background: #252a32;
    color: #fff;
  }

  a {
    padding: 10px;
  }
}

.toggle-item .children {
  overflow: hidden;
  transition: opacity 0.3s ease-in-out; /* Set animation duration and timing */
  opacity: 0; /* Initially hidden */
}

.toggle-item.open .children {
  opacity: 1; /* Visible when open */
}
