@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@layer components {
  .circle {
    width: 180px;
    height: 180px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-90deg);
  }

  .timer {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4374f3;
    font-size: 42px;
    font-weight: 700;
  }
}

@layer utilities {
}

@keyframes circletimer {
  0% {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}

.fadeOutBox {
  animation: fadein 2s;
  animation-delay: 1s;
  -moz-animation: fadein 2s; /* Firefox */
  -moz-animation-delay: 1s;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-animation-delay: 1s;
  -o-animation: fadein 2s; /* Opera */
  -o-animation-delay: 1s;
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
